.content {

	margin-top: 80px;

}

.panel-heading {
	font-weight: bold;
	font-size: 1.2em;
}

.open {
	text-align: right;
}

.navbar-brand {

	font-weight: bold;
	font-size: 2em;
}

.copyright {
	text-align: center;
}

.refresh {
	font-size: 1.5em;
}
